fastapi==0.110.0
uvicorn==0.27.1
websockets==12.0
groq==0.4.2
python-dotenv==1.0.1
dnspython==2.6.1
python-whois==0.8.0
requests==2.31.0
python-nmap==0.7.1
faster-whisper
edge-tts
pydantic
psutil==5.9.8
python-multipart
livekit-agents[silero,groq]~=1.3
livekit-api~=1.0
openwakeword
onnxruntime
pydub
